body {
    background-color: rgb(145, 214, 254);
}

h1{
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
}

header {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: rgb(227, 148, 161) ;
    border: solid ;
}

nav li {
    padding: 0px 100px; 
    border: solid;
    
}

nav a {
    text-decoration: none;
}
